body {
    --background-colour: white;
    --accent-colour: rgb(211, 214, 218);
    --text-color: black;
    --key-colour: var(--accent-colour);

    --pending-colour: rgb(135, 138, 140);
    --pending-text-colour: black;
    --missing-colour: rgb(120, 124, 126);
    --yellow-colour: rgb(201, 180, 88);
    --found-colour: rgb(106, 170, 100);
}

.dark {
    --background-colour: rgb(18, 18, 19);
    --accent-colour: rgb(58, 58, 60);
    --text-color: white;
    --key-colour: rgb(129, 131, 132);

    --pending-colour: rgb(86,87,88);
    --pending-text-colour: white;
    --missing-colour: var(--accent-colour);
    --yellow-colour: rgb(181, 159, 59);
    --found-colour: rgb(83,141,78);
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: var(--background-colour);
    color: var(--text-color);
    margin: auto;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 350px;
    margin: auto;
}

.word {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--accent-colour);
    margin-bottom: 20px;
}

.navleft, .navright {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navleft {
    margin-left: 10px;
}

.navright {
    margin-right: 10px;
}


.moonIcon path, .sunIcon path {
    stroke: var(--text-color);
}

.sunIcon, .moonIcon {
    width: 40px;
}

.sunIcon {
    display: none;
}

h1 {
    flex-grow: 1;
    margin: 10px;
    margin-right: 0px;
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif;
} 

h1 > a {
    text-decoration: none;
    color: var(--text-color);
}

.letter {
    line-height: 60px;
    font-size: 32px;
    font-weight: 750;
    background-color: transparent;
    margin: 3px;
    height: 60px;
    width: 60px;
    border: solid 2px var(--accent-colour);
    text-transform: uppercase;
}



.pending {
    border: solid 2px var(--pending-colour);
    color: var(--pending-text-colour);
}

.keyboard {
    max-width: 491px;
    margin: 20px auto;
    width: 100%;
}

@media (max-width: 550px) {
    .letter {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }
}

@media (max-width: 415px) or (max-height: 700px) {
    .keyboard {
        margin: 5px auto;
    }
    .navbar {
        margin-bottom: 5px;
    }
}

.keyboard > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.key {
    height: 58px;
    flex: 1;
    line-height: 58px;
    font-size: 20px;
    font-weight: 700;
    margin: 3px;
    background-color: var(--key-colour);
    border-radius: 3px;
    cursor: pointer;
}

.specialKey{
    flex: 1.5;
    font-size: 15px;
}

.spacer {
    flex: 0.5;
}


.missing {
    background-color: var(--missing-colour);
    border-color: var(--missing-colour);
    color: white;
}

.yellow {
    background-color: var(--yellow-colour);
    border-color: var(--yellow-colour);
    color: white;
}

.found {
    background-color: var(--found-colour);
    border-color: var(--found-colour);
    color: white;
}

.gameOverWindowHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}


.gameOverWindow {
    background-color: var(--background-colour);
    border: 5px solid var(--text-color);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.statSummary {
    word-wrap: break-word;
    text-align: center;
}

.gameOverClose {
    position: relative;
    width: 30px;
    height: 30px;
    align-self: end;
    cursor: pointer;
}

.gameOverClose path {
    fill: var(--text-color);
}

.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.gameOverCopy, .gameOverPlayAgain {
    border: solid 2px var(--text-color);
    border-radius: 5px;
    height: 35px;
    line-height: 0px;
    padding-left: 7px;
    padding-right: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}